<!doctype html>
<html lang="et">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{#if title}}{{title}} | {{/if}}Joga OOP</title>
  <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
  {{> header }}
  <main class="container">
    {{{ body }}}
  </main>
  {{> footer }}
</body>
</html>
